@media only screen and (max-width: 1280px) {

    .box_office,
    .popular_films,
    .expected_novelties,
    .cards {

        .title {
            max-width: 230px;
        }

    }


}

@media only screen and (max-width: 1245px) {

    .box_office,
    .popular_films,
    .expected_novelties,
    .cards {

        .title {
            max-width: 200px;
        }

        .genres_cont {
            max-width: 200px;
        }

    }


    .subline {

        .trailers_title {
            h2 {
                font-size: 25px;

            }
        }
    }

    .headline {
        h2 {
            font-size: 35px;
        }

        .splitLine {
            width: 41px;
        }

        .tabs_period,
        .tabs_time,
        .tabs_country,
        .tabs {
            max-width: 400px;

            li {
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 500;
                opacity: .5;
                transition: .3s ease;

                &:hover {
                    background: #00000058;
                    opacity: 1;
                }
            }

            .active_tab {
                background: #00000058;
                opacity: 1;
            }
        }

        margin-bottom: 40px;
    }


    .card {
        height: 350px;
    }

    // .popular_persons {
    //     .first_places {
    //         width: 100%;
    //         display: flex;
    //         justify-content: space-between;
    //     }

    .person {
        width: 310px !important;
        height: 310px !important;
    }

    // }

    .other_persons {
        min-width: 305px;
        height: 305px;
    }
}



@media only screen and (max-width: 1157px) {
    .popular_persons {
        gap: 28px;

        .first_places {
            gap: 28px;
        }

        .person {
            width: 267px;
            height: 267px;
            padding: 10px;

            .place {
                font-size: 10px;
            }

            .current_name {
                font-size: 18px;
                font-weight: 600;
            }

            .origin_name {
                font-size: 12px;
            }

            .age {
                font-size: 10px;
            }
        }
    }

    .other_persons {
        padding: 5px;

        min-width: 267px;
        height: 267px;

        li {

            padding: 15px;

            .left {

                flex-direction: column;

                .current_name {
                    font-size: 12px;
                }

                .origin_name {
                    opacity: .5;
                    font-size: 10px;
                }

                .age {
                    font-size: 8px;
                }
            }

            .right {
                .place {
                    font-size: 10px;
                }
            }
        }
    }

    .card {
        height: 300px;

    }
}

@media only screen and (max-width: 1110px) {

    .header {

        padding: 20px 0;

        .logo {

            img {
                width: 90px;
            }
        }


    }

    header {
        margin-bottom: 20px;
    }

    .center {
        .links {

            gap: 15px;

            li {
                a {
                    font-size: 10px;
                }
            }
        }
    }

    .box_office,
    .popular_films,
    .expected_novelties,
    .cards {

        .title {
            max-width: 180px;
        }

        .genres_cont {
            max-width: 180px;
        }

    }

    .headline {
        .splitLine {
            width: 35px;
        }

        .tabs_period,
        .tabs_time,
        .tabs_country,
        .tabs {
            gap: 10px;

            li {
                font-size: 10px;
            }

        }

        margin-bottom: 30px;
    }

    .some_trailers {
        padding: 10px;
    }

    .subline {
        margin-bottom: 10px;

    }
}

@media only screen and (max-width: 1035px) {

    .box_office,
    .popular_films,
    .expected_novelties,
    .cards {

        .title {
            max-width: 160px;
        }

        .genres_cont {
            max-width: 160px;
        }

    }
}

@media only screen and (max-width: 990px) {
    .header_one {
        display: none;
    }

    .header_two {
        display: block;

        .left {
            scale: .8;
        }
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        height: 360px;
    }

    .headline {

        .splitLine {
            display: none;
        }

        flex-direction: column;
        align-items: start;
        gap: 20px;

        .tabs_period,
        .tabs_time,
        .tabs_country,
        .tabs {
            max-width: 100%;

            li {
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 500;
                opacity: .5;
                transition: .3s ease;

                &:hover {
                    background: #00000058;
                    opacity: 1;
                }
            }

            .active_tab {
                background: #00000058;
                opacity: 1;
            }
        }

    }

    .trailers_player {
        height: 350px;
    }

    .expected_head,
    .news_head,
    .trailers_head {
        flex-direction: row;
    }

    .trailers_head {
        margin-top: 20px;
    }

    .trailer {

        flex-direction: column;
        gap: 10px;
        align-items: start;
        min-width: 200px !important;
        overflow: hidden !important;

        .trailer_img {
            cursor: pointer;
            position: relative;
            border-radius: 10px;
            width: 200px !important;
            height: 120px !important;
            background-image: url("/images/faf.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;

                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("/icons/play.svg");
                background-position: center;
                background-size: 20px;
                background-repeat: no-repeat;
                transition: .3s;

            }

            &:hover {
                &::after {
                    background: rgba(54, 87, 203, 0.65);
                    background-image: url("/icons/play.svg");
                    background-position: center;
                    background-size: 20px;
                    background-repeat: no-repeat;
                }

            }
        }



    }

    .popular_films {
        min-height: 360px;
        justify-content: space-between;
        display: flex;
    }

    .popular_persons {

        flex-direction: column;

        .first_places {

            gap: 32px;
        }

        .person {
            width: 340px;
            height: 340px;
            padding: 20px;

            .place {
                font-size: 12px;
            }

            .current_name {
                font-size: 20px;
            }

            .age {
                font-size: 12px;
            }
        }

        .other_persons {
            padding: 10px;
            width: 100%;
            height: 340px;

            li {

                .left {

                    .origin_name {
                        font-size: 12px;
                    }

                    .age {
                        font-size: 10px;
                    }
                }

                .right {
                    .place {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .last_news {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;

        .news {
            min-height: 150px;

            &:last-child {
                display: none;
            }
        }

        .active_news {
            min-height: 370px;
            grid-column: 1/4;
            grid-row: 1/4;
            padding: 40px;



            .details {
                display: flex;
                width: fit-content;
                gap: 10px;
                font-size: 12px;

                .date,
                .views,
                .comments {

                    gap: 5px;
                }

            }

            .news_text {
                h3 {
                    font-size: 25px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                p {
                    line-height: 20px;
                }
            }
        }
    }

    .container {
        width: 90%;
    }

    .expected_novelties {
        display: flex;
    }

    .box_head {
        gap: 20px 100px;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .scrollToTop {
        width: 30px;
        height: 30px;
        bottom: -30px;
        right: 10px;
        background-size: 40%;
        border-radius: 5px;
    }

    .popular_persons {
        .first_places {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .person {
            width: 395px !important;
            height: 395px !important;
        }
    }
}