body {
    background: #1E2538;
    background-image: url("/images/joker.png");
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    transition: .5s linear;

    &::-webkit-scrollbar {
        height: 1px;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.6);

        }
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
    }

    // &::after {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 500px;
    //     position: absolute;
    //     bottom: 0px;
    //     z-index: -1;
    //     background: linear-gradient(transparent, #1E2538);
    // }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        z-index: -1;
        background: #1e253893;
    }
}


button {
    all: unset;
    cursor: pointer;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#IMDb,
#kinoarea {
    position: relative;
    @include flex();
    flex-direction: column;
    gap: 5px;
}

.rate__counter {
    @include flex();
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -65%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;

    span {
        font-size: 12px;
    }
}

.rate__counter_kinoarea {

    background: #4bcb3650;
}

.rate__counter_IMDb {

    background: #88cb3650;
}

.movie_info {
    max-width: 890px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.top_info {
    margin-bottom: 40px;

    .content {
        @include flex();
        gap: 30px;
        margin-bottom: 30px;

        .movie_img {
            width: 100%;
            max-width: 300px;
            min-width: 300px;
            height: 400px;

            img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .rates {
            @include flex();
            gap: 20px;
            font-size: 12px;
        }

        .movie_text {
            @include flex();
            align-items: start;
            flex-direction: column;
            gap: 20px;

            .path {
                font-size: 12px;

                .faded {
                    opacity: 0.5;
                }

            }

            .title {
                font-weight: 600;
                font-size: 32px;
            }

            .origin_title {
                font-weight: 600;
                font-size: 20px;
            }

            .description {
                line-height: 20px;
            }

            .links_parent {
                @include flex();
                gap: 30px;
                min-width: 350px;

                button {

                    @include flex();
                    font-size: 12px;
                    gap: 10px;
                    padding: 15px 15px;
                    border: 2px solid #FFF;
                    border-radius: 10px;
                    transition: .3s ease;
                    opacity: .5;

                    &:hover {
                        opacity: 1;
                    }

                }

                .social {
                    @include flex();

                    width: 100%;
                    max-width: 150px;
                    justify-content: space-between;
                    margin: 0 auto;

                    li {
                        opacity: .5;
                        transition: .3s ease;
                        width: 13px;

                        &:hover {
                            opacity: 1;
                        }

                    }

                }
            }
        }

    }
}

.btns {
    @include flex();
    gap: 20px;
    justify-content: start;

    .like,
    .dislike {
        @include flex();
        flex-direction: column;
        gap: 15px;

        border-radius: 10px;
        transition: .3s ease;

        &:hover {
            scale: 1.2;
        }

        &:active {
            scale: .7;
        }

        img {
            width: 40px;
        }
    }
}


.statistic {
    @include flex();
    justify-content: start;
    gap: 20px;

    .like {
        @include flex();
        flex-direction: column;
        gap: 15px;

        border-radius: 10px;
        transition: .3s ease;

        &:hover {
            scale: 1.2;
        }

        &:active {
            scale: .7;
        }

        img {
            widows: 40px;
        }
    }

    font-size: 12px;

    .expectation_rating {
        position: relative;
        padding: 13px 10px;
        min-width: 180px;
        min-height: 40px;
        border-radius: 5px;
        background: #1B2133;

        span {
            color: #57D043;
            white-space: nowrap;
            font-weight: 500;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            position: absolute;
            z-index: 1;
        }

        .line {
            position: absolute;
            top: 0;
            left: 0;
            width: 85%;
            height: 100%;
            border-radius: 5px;
            background: #2E6125;
        }
    }
}

.bottom_info {
    @include flex();
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 12px;
    gap: 10px;
    margin-bottom: 40px;
    align-items: start;
    max-height: 200px;

    li {
        @include flex();
        justify-content: start;
        gap: 30px;
        width: 500px;

        span {

            width: 100%;
        }
    }
}

.yellow {
    cursor: pointer;
    color: yellow;
    text-decoration: underline;
    transition: .3s ease;

    &:hover {
        opacity: .5;
    }
}

.production {

    @include flex();
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background: rgba(54, 87, 203, 0.30);
    padding: 20px;
    align-items: start;

    .top {
        @include flex();
        gap: 20px;
        width: 100%;
        justify-content: space-between;

        .directors {
            @include flex();
            gap: 25px;

            .director {
                @include flex();
                gap: 10px;

                .director_info {
                    @include flex();
                    flex-direction: column;
                    gap: 5px;
                    align-items: start;
                }

                .director_img {
                    img {
                        width: 100px;
                        height: 150px;
                        border-radius: 5px;
                    }
                }

                .director_original_name {
                    opacity: .5;
                    font-size: 12px;
                }

                .director_career {
                    text-decoration: none;
                    font-size: 12px;
                }
            }
        }

        .companies {
            @include flex();
            gap: 20px;
            align-items: start;
        }

        white-space: nowrap;

        .production_companies,
        .special_effects,
        ul {
            @include flex();
            flex-direction: column;
            gap: 10px;
            align-items: start;
            white-space: nowrap;

            li {
                white-space: nowrap;
                font-size: 10px;
            }
        }

        .production_companies,
        .special_effects {
            gap: 15px;
        }
    }

    .dubbing_studio {
        h3 {
            margin-bottom: 10px;
        }

        span {
            font-size: 12px;
        }
    }
}

.actors_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    grid-gap: 40px;
    margin-bottom: 40px;
    // @include flex();
    // gap: 50px;
    // flex-wrap: wrap;
    // justify-content: start;

    .actor_info,
    .actor {
        @include flex();
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .actor_img {
        cursor: pointer;
        border-radius: 5px;
        width: 170px;
        height: 190px;
        min-width: 100px;
        min-height: 120px;
        background-image: url("/public/images/director.png");
        background-position: 50% 10%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .actor_info {
        gap: 5px;

        .actor_original_name {
            opacity: .5;
        }


        .actor_original_name,
        .actor_role {
            font-size: 12px;
            text-decoration: none;
        }
    }


}

.subline {
    margin-bottom: 80px;
}

.posters_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.posters_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
    justify-items: center;
    grid-gap: 20px;
    margin-bottom: 40px;

    img {
        border-radius: 10px;
        width: 250px;
        height: 360.559px;
    }
}


.stills_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 360.559px;
    grid-gap: 20px;
    margin-bottom: 40px;
}

.stills_item {
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:first-child {
        grid-column: 1/3;
    }

    &:nth-child(6) {
        grid-column: 3/5;
    }

}

.alone {
    h2 {
        margin: 0 auto;
    }
}

.similar_films {
    @include flex();
    justify-content: space-between;

    .card {
        @include flex();
        align-items: start;
        flex-direction: column;
        gap: 7px;
        width: 100%;
        max-width: 250.401px;


        .card_img {
            position: relative;
            border-radius: 10px;
            background-image: url("/images/joker.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 360.559px;
            transition: .5s linear;

            .after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                background: rgba(54, 87, 203, 0.65);
                opacity: 0;
                transition: .4s ease;

                &:hover {

                    opacity: 1;
                }

                span {
                    @include flex();
                    cursor: pointer;
                    width: 140px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    height: 40px;
                    color: #3657CB;
                    font-size: 16px;
                    font-weight: 600;
                    border-radius: 10px;
                    background: #FFF;
                    box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.40);
                    transition: .5s ease;

                    &:hover {
                        box-shadow: 0px 0px 10px 10px rgba(55, 94, 232, 0.40);

                    }

                    &:active {
                        scale: .7;
                    }
                }

            }

        }

        .title {
            font-weight: 500;
            width: 250.401px;
            overflow: auto;
            white-space: nowrap;

            &::-webkit-scrollbar {
                display: none;
            }

        }

        .genres {
            font-size: 12px;
            color: yellow;
        }

        .rate {
            position: absolute;
            top: 7px;
            right: 7px;
            border-radius: 5px;
            background: #89CB36;
            padding: 5px 7px;
            font-size: 12px;
            width: fit-content;
        }
    }

}